.EventView {

    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    min-width: 500px
}

.topView {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.bottomView {
    display: inline-flex;
    justify-content: space-between;
}

.eventName {
    width: 100%;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 30px;

}

.calendar {
    width: 50px;
    height: 50px;
}

p {
    display: flex;
    flex-grow: 3;
    margin-left: 10px;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

img {
    width: 100%;
    height: 100%;
}

.exitButton {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 50px;
    color: rgb(183, 188, 192)
}

.exitButton:focus {
    outline: 0;
}

.buttonGo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(19, 61, 95);
    margin-top: 30px;
}

.buttonGo:focus {
    outline: 0;
}

.date {

    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.place {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.eventTime {
    padding: 30px;

}

.description {
    display: flex;

}