body {
  background-color: white;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.appView {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.eventList {
  flex-grow: 1;
  margin-right: 5px;
}

.noMatchContener {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  padding-top: 4em;
}

.noMatchImage {
  width: 80%;
  height: 80%;
}

@media (max-width: 850px) {
  .appView {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 63px;
    padding-bottom: 0;
  }
  .eventList {
    margin-right: 0;
  }
}

@media (max-width: 665px) {
  .appView {
    padding-top: 63px;
  }
}
