.containterProfile {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.eventsList {
  width: 100%;
  z-index: 10;
  flex-grow: 1;
  flex-basis: 50%;
  margin-right: 0.5em;
}

.userMessage {
  padding: 10px;
  background: rgb(177, 177, 241);
  border-radius: 0 15px 15px 15px;
  width: 400px;
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  transition: 2s;
}
.infoImg {
  width: 20px;
}
.userMessage:hover {
  background: rgb(144, 144, 197);
}

@media (max-width: 850px) {
  .userMessage {
    margin-left: 10px;
    width: 300px;
  }
  .containterProfile {
    padding: 0;
  }
  .marginDiv {
    margin-top: 0px;
    z-index: 10;
    background: rgb(255, 255, 255);
    height: 20px;
    margin-bottom: -83px;
  }
  .eventsList {
    margin-top: -20px;
  }
  .containterProfile {
    padding-top: 70px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 665px) {
  .userMessage {
    width: 250px;
  }
  .marginDiv {
    margin-bottom: -66px;
    margin-top: 30px;
  }
  .containterProfile {
    padding-top: 70px;
  }
}

@media (max-width: 375px) {
  .marginDiv {
    margin-bottom: -43px;
  }
}
