.containterProfile{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.eventsList{
    flex-grow: 1;
    flex-basis: 50%;
    margin-right: 0.5em;
}

@media (max-width: 499px) {
    .containterProfile {
        flex-direction: column-reverse;
    }
}
